body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #B81D0C;
  color: #FFFFFF;
}

.container {
  display: grid;
  position: relative;
  margin-top: 3vh;
  height: 40em;
  width: 40em;
  background-color: white;
  border: 5px solid black;
  border-radius: 0.3em;
}

.playButton {
  margin-top: 2vh;
  background-color: black;
  color: white;
  border: 0;
  padding: 1em 4em;
}

.playButton:hover {background-color: grey;}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 1.5em;
  margin-top: 2vh;
  gap: 0.3em;
}

.inputLabel {
  color: black;
  font-size: 23px;
  font-weight: bold;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 8em;
  flex-wrap: wrap;
  border: 3px solid black;
  padding: 0.5em 0;
  background-color: #D32727;
  height: 20em;
  margin-right: 1em;
  border-radius: 0.5em;
}

.fullContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7.5em;
}

.optionsContainer button {
  width: 3em;
  height: 2em;
}

button {
  border: 3px solid black;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  min-width: auto;
}


.active {
  border-color: gold !important;
  transform: scale(1.4) !important;
}

.colorInput.active {
  border-color: gold !important;
  transform: scale(1) !important;
}

.blackButton {background-color: black}

.redButton {background-color: #FA1919;}

.greenButton {background-color: #16AD14;}

.blueButton {background-color: #0E75C3;}

.greyButton {background-color: #525659;}

.yellowButton {background-color: #DDE713;}

.orangeButton {background-color: #F8880B;}

.violetButton {background-color: #9514CE;}

.cyanButton {background-color: #00FFFF;}

.hotPinkButton {background-color: #FF69B4;}

.maroonButton {background-color: #800000;}

.eraserButton {background-color: white;}